body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
}
.container {
    margin: auto;
    width: 400px;
    padding: 20px;
    background-color: aquamarine;
    border-radius: 10px;
}

.judul {
    text-align: center;
    margin-bottom: 15px;
}

.tombol {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tombol button {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:tomato;
}

.tombol button:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

